@model TRAILSWEB.Models.SecurityInfoModel

@{string appTitle = @System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"].ToString();}

@{
	ViewBag.Title = "New Account";
	ViewBag.Tagline = "Please review the information and submit";
	ViewBag.Action = "CreateLogin";
	ViewBag.Controller = "Account";
}

@if (ViewBag.WarningMessage != null)
{
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		@Html.Raw(ViewBag.WarningMessage)
	</div>
}
<div class="container">
	@using (Html.BeginForm("CreateLogin", "GetEPASS", FormMethod.Post, new { @name = "forgotPasswordForm", @id = "forgotPasswordForm", @class = "form-horizontal", @role = "form" }))
	{
		@*@Html.AntiForgeryToken()*@
		<div id="CreateYourLoginForm" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Create your login</div>
					@*<div style="float:right; font-size: 80%; position: relative; top:-10px">@Html.ActionLink("Login", "Login", null, new { @style = "color: #fff;" })</div>*@
				</div>
				<div class="panel-body" style="margin-left:1px; margin-right:1px;">
					@{string messages = string.Empty;}
					@if (!ViewData.ModelState.IsValid)
					{
						messages = string.Join("<br />", ViewData.ModelState.Values
							.SelectMany(x => x.Errors)
							.Select(x => x.ErrorMessage));
						<div id="login-alert" class="alert alert-danger col-sm-12">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Html.Raw(HttpUtility.HtmlDecode(@messages))
						</div>
					}
					
					@Html.Partial("_CreateLogin", Model)

				</div>
				<div class="panel-footer">
					@*<button type="submit" id="requestReset" name="requestReset" class="btn btn-primary center-block"><span class="fa fa-refresh" aria-hidden="true"></span> Continue</button>*@
					<button type="button" id="requestReset" name="requestReset" class="btn btn-primary center-block" style="padding-left: 60px; padding-right: 60px;">Continue</button>
				</div>
			</div>
		</div>
	}
</div>

@section Scripts {
	<script type="text/javascript" src="~/Scripts/controllers/account/accountController.js"></script>
	<script type="text/javascript">
        //$(function () {
        //    var formIsValid = false;

        //    $('#AccountNumber').focus();

        //    $('#requestReset').click(function (event) {
        //        event.preventDefault();

        //        // Validate Form
        //        formIsValid = accountController.validateForgotPassword(event);

        //        if (formIsValid) {
        //            // Submit Request
        //            $('#forgotPasswordForm').submit();
        //        }
        //    });
		//});
		$(function () {
			$("#bcFlowImage").attr("src", "/Content/img/bcFlowImage1.svg");			
		});
	</script>
}