@model TRAILSWEB.Models.ReviewOrderEPASS

@{string appTitle = @System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"].ToString();}

@{
	ViewBag.Title = "Review Order";
}

@if (ViewBag.WarningMessage != null)
{
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		@Html.Raw(ViewBag.WarningMessage)
	</div>
}

<div class="container">
	@using (Html.BeginForm("ReviewOrder", "GetEPASS", FormMethod.Post, new { @name = "forgotPasswordForm", @id = "forgotPasswordForm", @class = "form-horizontal", @role = "form" }))
	{
		@*@Html.AntiForgeryToken()*@
		<div id="ReviewOrderOrderSummary" style="margin-top:15px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			@{
				List<TRAILSWEB.Models.Cart> shoppingCart = new List<TRAILSWEB.Models.Cart>();
			}
			@Html.Partial("_OrderSummary", shoppingCart)
		</div>

		<div id="ReviewOrderAccountLogin" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<a href="#" class="editPage"><span class="EditTextDark">&nbsp;Edit</span><span class="fa fa-pencil edit_graphic" aria-hidden="true"></span></a>
					<div class="panel-title">Account Login</div>
					@*<div style="float:right; font-size: 80%; position: relative; top:-10px">@Html.ActionLink("Login", "Login", null, new { @style = "color: #fff;" })</div>*@
				</div>
				<div class="panel-body" style="margin-left:50px; margin-right:50px;">
					@{string messagesAccountLogin = string.Empty;}
					@if (!ViewData.ModelState.IsValid)
					{
						messagesAccountLogin = string.Join("<br />", ViewData.ModelState.Values
								 .SelectMany(x => x.Errors)
								 .Select(x => x.ErrorMessage));
						<div id="login-alert" class="alert alert-danger col-sm-12">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Html.Raw(HttpUtility.HtmlDecode(@messagesAccountLogin))
						</div>
					}

					@{
						TRAILSWEB.Models.AccountLogin model = new TRAILSWEB.Models.AccountLogin();
					}
					@Html.Partial("_AccountLogin", model)

				</div>
			</div>
		</div>

		<div id="ReviewOrderContactInformation" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<a href="#" class="editPage"><span class="EditTextDark">&nbsp;Edit</span><span class="fa fa-pencil edit_graphic" aria-hidden="true"></span></a>
					<div class="panel-title">Contact Information</div>
					@*<div style="float:right; font-size: 80%; position: relative; top:-10px">@Html.ActionLink("Login", "Login", null, new { @style = "color: #fff;" })</div>*@
				</div>
				<div class="panel-body" style="margin-left:50px; margin-right:50px;">
					@{string messagesContactInformation = string.Empty;}
					@if (!ViewData.ModelState.IsValid)
					{
						messagesContactInformation = string.Join("<br />", ViewData.ModelState.Values
									 .SelectMany(x => x.Errors)
									 .Select(x => x.ErrorMessage));
					<div id="login-alert" class="alert alert-danger col-sm-12">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Html.Raw(HttpUtility.HtmlDecode(@messagesContactInformation))
					</div>
					}
					@{
						TRAILSWEB.Models.ContactInfo contactInfoModel = new TRAILSWEB.Models.ContactInfo();
					}
					@Html.Partial("_ContactInfo", contactInfoModel)
				</div>
			</div>
		</div>

		<div id="ReviewOrderPaymentInformation" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<a href="#" class="editPage"><span class="EditTextDark">&nbsp;Edit</span><span class="fa fa-pencil edit_graphic" aria-hidden="true"></span></a>
					<div class="panel-title">Payment Information</div>
					@*<div style="float:right; font-size: 80%; position: relative; top:-10px">@Html.ActionLink("Login", "Login", null, new { @style = "color: #fff;" })</div>*@
				</div>
				<div class="panel-body" style="margin-left:50px; margin-right:50px;">
					@{string messagesPaymentInformation = string.Empty;}
					@if (!ViewData.ModelState.IsValid)
					{
						messagesPaymentInformation = string.Join("<br />", ViewData.ModelState.Values
										 .SelectMany(x => x.Errors)
										 .Select(x => x.ErrorMessage));
						<div id="login-alert" class="alert alert-danger col-sm-12">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Html.Raw(HttpUtility.HtmlDecode(@messagesPaymentInformation))
						</div>
					}

					@{ 
						List<TRAILSWEB.Models.Cart> ShoppingCart = new List<TRAILSWEB.Models.Cart>();
						
					}
					@*@Html.Partial("_OrderSummary", ShoppingCart)*@
					@Html.Partial("_OrderSummary", ShoppingCart)

				</div>
				<div class="panel-footer">
					@*<button type="submit" id="requestReset" name="requestReset" class="btn btn-primary center-block"><span class="fa fa-refresh" aria-hidden="true"></span> Continue</button>*@
					<button type="submit" id="requestReset" name="requestReset" class="btn btn-primary center-block" style="padding-left: 60px; padding-right: 60px;">Submit</button>
				</div>
			</div>
		</div>
						}
</div>

@section Scripts {
	<script type="text/javascript" src="~/Scripts/controllers/account/accountController.js"></script>
	<script type="text/javascript">
		//$(function () {
		//    var formIsValid = false;

		//    $('#AccountNumber').focus();

		//    $('#requestReset').click(function (event) {
		//        event.preventDefault();

		//        // Validate Form
		//        formIsValid = accountController.validateForgotPassword(event);

		//        if (formIsValid) {
		//            // Submit Request
		//            $('#forgotPasswordForm').submit();
		//        }
		//    });
		//});
		$(function () {
			$("#bcFlowImage").attr("src", "/Content/img/ProgressBarReview.svg");			
		});		
	</script>
}

