@model TRAILSWEB.ViewModels.TransponderActivationViewModel
@{
    Layout = null;
}

<input type="hidden" id="transponderCount" name="transponderCount" value="@Model.AccountTransponders.Count()" />
<!-- Customer Account Transponders List -->
<table id="accountTransponders" class="table table-striped" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="5" data-empty="">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th data-breakpoints="all" data-type="number">Year</th>
            <th data-breakpoints="all">Color</th>
            <!--<th data-breakpoints="all">Transponder Type</th>-->
            <th>License Plate</th>
            <th data-breakpoints="all">State Registered</th>
            <th data-breakpoints="xs" data-type="html">Transponder</th>
            <th data-breakpoints="xs">Status</th>
            <th data-type="html" data-sortable="false" data-filterable="false">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transponder in Model.AccountTransponders)
        {
            var vehicle = string.Format("{0} {1}", transponder.VehicleInfo.MakeSelected, transponder.VehicleInfo.ModelSelected);
            <tr data-tag-number="@transponder.TransponderDetail.TransponderNumber" data-plate-number="@transponder.VehicleInfo.LicensePlateNumber" data-license-state="@transponder.VehicleInfo.LicenseStateSelected" data-initial-description="@transponder.InitialTransponderDescription" data-initial-status="@transponder.InitialStatus" data-initial-status-code="@transponder.InitialStatusCode" class="clickable">
                <td class="vehicleMakeModel" data-vehicle-make="@transponder.VehicleInfo.MakeSelected" data-vehicle-model="@transponder.VehicleInfo.ModelSelected">@vehicle</td>
                <td class="vehicleYear" data-value="@transponder.VehicleInfo.YearSelected">@transponder.VehicleInfo.YearSelected</td>
                <td class="vehicleColor" data-value="@transponder.VehicleInfo.ColorSelected">@transponder.VehicleInfo.ColorSelected</td>
                <!--<td class="vehicleTransponderTypeDesc" data-value="@transponder.TransponderDetail.ShortDescription">@transponder.TransponderDetail.ShortDescription</td>-->
                <td class="vehicleLicensePlate" data-value="@transponder.VehicleInfo.LicensePlateNumber">@transponder.VehicleInfo.LicensePlateNumber</td>
                <td class="vehicleRegisteredState" data-value="@transponder.VehicleInfo.LicenseStateSelected">@transponder.VehicleInfo.LicenseStateSelected</td>
               
                @if (transponder.VehicleInfo.StatusCode == "O")
                {
                    <td class="vehicleTransponderType" data-sort-value="@transponder.TransponderDetail.TransponderType" nowrap><img height="32" width="32" style="vertical-align: text-top; display: inline !important;" src="@transponder.TransponderDetail.ImagePath" class="img-responsive" alt="@transponder.TransponderDetail.ShortDescription" title="@transponder.TransponderDetail.ShortDescription" />&nbsp;@transponder.TransponderDetail.ShortDescription &nbsp;&nbsp;</td>
                }
                else
                {
                    <td>@transponder.TransponderDetail.TransponderNumber</td>
                }
                <td data-sort-value="@transponder.VehicleInfo.StatusCode" data-filter-value="@transponder.VehicleInfo.StatusCode">@transponder.VehicleInfo.Status</td>
                @if (transponder.VehicleInfo.StatusCode == "A")
                {
                    <td><button class="btn btn-success btn-block replaceTagButton" data-replace-tag="@transponder.TransponderDetail.TransponderNumber" data-replace-type="@transponder.TransponderDetail.TransponderType" data-activity-type="@((int) TRAILSWEB.Models.CartActivityType.Replace)"><span class="fa fa-exchange" aria-hidden="true"></span>&nbsp;<span class="hidden-xs hidden-sm hidden-md TableButtonNames">Replace</span></button></td>
                }
                else if (transponder.VehicleInfo.StatusCode == "R")
                {
                    @*<td><button class="btn-xs btn-block " data-replace-tag="@transponder.TransponderDetail.TransponderNumber" data-replace-type="@transponder.TransponderDetail.TransponderType" data-activity-type="@((int) transponder.Activity)" disabled><span class="fa fa-undo" aria-hidden="true">InProcess</span></button></td>*@
                    <td>&nbsp;</td>
                }
                else if (transponder.VehicleInfo.StatusCode == "P")
                {
                    <td><button class="btn btn-danger btn-block replaceTagButton" data-replace-tag="@transponder.TransponderDetail.TransponderNumber" data-replace-type="@transponder.TransponderDetail.TransponderType" data-activity-type="@((int) transponder.Activity)"><span class="fa fa-undo" aria-hidden="true"></span>&nbsp;<span class="hidden-xs hidden-sm hidden-md TableButtonNames">Undo/Remove</span></button></td>
                }
                else
                {
                    <td>&nbsp;</td>
                }
                
            </tr>
        }
    </tbody>
</table>
<!-- // Customer Account Transponders List -->

