@model TRAILSWEB.Models.AccountLogin

<div class="container-fluid">
	<div class="form-group" style="margin-bottom: 20px;">
		<label for="UserName">Username:</label>
		<div class="input-group col-sm-12">
			@Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", @maxlength = "32", placeholder = "Enter a valid username...", @data_msg_regex = "Please enter a valid User Name" })
		</div>
	</div>

	<div class="form-group" style="margin-bottom: 20px">
		<label for="Password">Password:</label>
		<div class="input-group col-sm-12">
			@Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control right-radius", @maxlength = "32", autocomplete = "off", placeholder = "Enter a valid password...", @data_toggle = "password", @data_message = "Click here to show/hide password", @data_msg_regex = "Please enter a valid Password" })
		</div>
	</div>

	<div class="form-group" style="margin-bottom: 20px">
		<label for="ConfirmPassword">Confirm Password:</label>
		<div class="input-group col-sm-12">
			@Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control right-radius", @maxlength = "32", autocomplete = "off", placeholder = "Confirm your password...", @data_toggle = "password", @data_message = "Click here to show/hide password", @data_msg_regex = "Please enter a valid Password" })
		</div>
	</div>

	<div class="form-group noShowOnPreviewSummaryPopup" style="margin-bottom: 20px">
		<label for="EmailAddress">Email Address:</label>
		<div class="input-group col-sm-12">
			@Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", @maxlength = "32", placeholder = "Enter a valid email address...", @data_msg_regex = "Please Enter a valid email address" })
		</div>
	</div>

	<div class="form-group noShowOnPreviewSummaryPopup" style="margin-bottom: 20px">
		<label for="ConfirmEmailAddress">Confirm Email Address:</label>
		<div class="input-group col-sm-12">
			@Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", @maxlength = "32", placeholder = "Confirm email address...", @data_msg_regex = "Please confirm email address" })
		</div>
	</div>

	<div class="form-group col-md-6 nopadding pull-left noShowOnPreviewSummaryPopup" style="float:left; font-size:small">
		@Html.ActionLink("Already have an account?", "Login", "Account", null)
	</div>
</div>
