@* Reusable Card Payment Info Form *@
@using TRAILSWEB.Helpers
@using TRAILSWEB.Models
@model  TRAILSWEB.Models.AddTransponderModel

@{
    var flowSource = ViewData["PageFlow"] == null || string.IsNullOrEmpty(ViewData["PageFlow"].ToString()) ? ActivityTypes.Manage : ViewData["PageFlow"].ToString();
    var isNewCustomer = Model.IsNewCustomer ? "true" : "false";

    var nopadding = flowSource == "Manage" ? "" : "nopadding";
}
<div id="addTransponderBodyPanel" class="modal-body form-horizontal addTransponder transponderBodyPanel" data-trasponder-role="add">
    @* DOM elements will be filled from below template *@
</div>

<div id="addTransponderBodyTemplate" class="hidden">
    <div id="addTransponderEditPanel" class="TransponderPurchase transactionEditPanel" account-isNewCustomer="@isNewCustomer">
        <div class="form-group SalesTransponderSelection" data-trasponder-role="add">
            <div class="col-sm-12">
                @Html.Partial("_SingleTransponderSelection", new TRAILSWEB.Models.SelectTransponder() { Transponders = Model.TranspondersForPurchase, AddNew = true, StateCodes = Model.StateCodes })
            </div>
        </div>
        <div class="form-group SalesCardPayment">
            <div class="col-sm-12">
                @Html.Partial("_SalesCardPaymentInfo", Model.Payment, new ViewDataDictionary(this.ViewData) { { "PageSource", "Add_" } })
            </div>
        </div>
    </div>

    <div id="addTransponderReviewPanel" style="display:none" class="transactionReviewPanel">
        <div class="form-group">
            <div id="addTransponderReviewPanelData" class="col-sm-12 previewTransaction transactionReviewPanelData @(nopadding)">
                @*@Html.Partial("PreviewTransaction", new PreviewTransaction() { })*@
            </div>
        </div>
    </div>

    <div id="addTransponderConfirmationPanel" style="display:none" class="transactionConfirmationPanel">
        <div class="form-group">
            <div id="addTransponderConfirmationPanelData" class="col-sm-12 confirmationTransaction transactionConfirmationPanelData @(nopadding)">
                @*@Html.Partial("_Confirmation", new Confirmation() { })*@
            </div>
        </div>
    </div>
</div>

<script>
    if ("@flowSource" != "Manage")
    {
        var template = $('#addTransponderBodyTemplate').clone();
        template.removeClass('hidden');
        $("#addTransponderBodyPanel").html("");
        $("#addTransponderBodyPanel").html(template.html());
        $("#addTransponderBodyTemplate").remove();
    }
</script>