@model TRAILSWEB.Models.StartTransaction

    <div class="container-fluid">
        <div class="form-group nopadding noShowOnPreviewSummaryPopup">
            @Html.ActionLink("Already have an account?", "LoginWithExistingUser", "Account", null, null)
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="UserName">Username:</label> @*<a id="usernameHelp" class="info help" data-toggle="popover" data-content="Username must be letters or numbers with NO spaces at beginning and end." style="border:none;background:none;color:#337ab7;" data-original-title="" title="Username Requirements"><i class="material-icons">help</i></a>*@
            <div class="input-group col-sm-12 col-xs-12">
                @Html.TextBoxFor(m => m.Security.UserName, htmlAttributes: new { @class = "form-control", @maxlength = "32", placeholder = "Enter a valid username...", @data_msg_regex = "Please enter a valid User Name" })
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px">
            <label for="Password">Password:</label> @*<a id="passwordHelp" class="info help" data-toggle="popover" data-content="Password must be at least 8 characters in length and a combination of letters, numbers and special characters with NO spaces." style="border:none;background:none;color:#337ab7;" data-original-title="" title="Password Requirements"><i class="material-icons">help</i></a>*@
            <div class="input-group col-sm-12 col-xs-12">
                @Html.PasswordFor(m => m.Security.Password, htmlAttributes: new { @class = "form-control right-radius cfxPasswordPreference cfxCapslockCheck", @maxlength = "32", autocomplete = "off", placeholder = "Enter a valid password...", @data_toggle = "password", @data_message = "Click here to show/hide password", @data_msg_regex = "Please enter a valid Password" })
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px">
            <label for="ConfirmPassword">Confirm Password:</label> @*<a id="confirmPasswordHelp" class="info help" data-toggle="popover" data-content="Password must be at least 8 characters in length and a combination of letters, numbers and special characters with NO spaces." style="border:none;background:none;color:#337ab7;" data-original-title="" title="Password Requirements"><i class="material-icons">help</i></a>*@
            <div class="input-group col-sm-12 col-xs-12">
                @Html.PasswordFor(m => m.Security.ConfirmPassword, htmlAttributes: new { @class = "form-control right-radius", @maxlength = "32", autocomplete = "off", placeholder = "Confirm your password...", @data_toggle = "password", @data_message = "Click here to show/hide password", @data_msg_regex = "Please enter a valid Password" })
            </div>
        </div>

        <div class="form-group noShowOnPreviewSummaryPopup" style="margin-bottom: 15px">
            <label for="EmailAddress">Email Address:</label>
            <div class="input-group col-sm-12 col-xs-12">
                @Html.TextBoxFor(m => m.Security.Email, htmlAttributes: new { @class = "form-control emailInSecurity", @maxlength = "32", placeholder = "Enter a valid email address...", @data_msg_regex = "Please Enter a valid email address" })
            </div>
        </div>

        <div class="form-group noShowOnPreviewSummaryPopup" style="margin-bottom: 15px">
            <label for="ConfirmEmailAddress">Confirm Email Address:</label>
            <div class="input-group col-sm-12 col-xs-12">
                @Html.TextBoxFor(m => m.Security.ConfirmEmail, htmlAttributes: new { @class = "form-control emailInSecurity", @maxlength = "32", placeholder = "Confirm email address...", @data_msg_regex = "Please confirm email address" })
            </div>
        </div>

        
    </div>
