@model TRAILSWEB.Models.TransponderSelectionModel

@{
    Layout = null;
    string makePriceHidden = Model.Transponder.Replace || Model.Transponder.Activate ? "hidden" : "";
    string imageId = Model.Transponder.Replace ? "transponderImage_" + 0 : "transponderImage_" + Model.Transponder.TransponderType.ToString();
    string transponderPrice = Model.Transponder.Price <= 0 ? "FREE" : Model.Transponder.Price.ToString("C2") + "+tax";
    string absoultePrice = Model.Transponder.Price.ToString();
    string imagePath = string.IsNullOrEmpty(Model.Transponder.ImagePath) ? "/Content/transponders/images/transponder-2.png" : Model.Transponder.ImagePath;
    var productTitle = Model.Transponder != null && Model.Transponder.ShortDescription != null ? (Model.Transponder.ShortDescription.ToUpper() == "MINI" ? "Sticker" : Model.Transponder.ShortDescription) : "";

    var controlInit = ViewData["PageSource"] == null || string.IsNullOrEmpty(ViewData["PageSource"].ToString()) ? "replace_" : ViewData["PageSource"].ToString();
    var isNewCustomer = ViewBag.IsNewCustomer == null ? false : ViewBag.IsNewCustomer;

    var vehicleDataDisplay = controlInit == "activate_" ? isNewCustomer ? "none" : "block" : "none";

}

@*<div class="nopadding transponderSelection">*@
<div class="col-xs-4 col-sm-2">
    <img class="img-responsive" id="@imageId" src='@imagePath' alt='@productTitle' title='@productTitle'>
</div>
@if (Model.Transponder.Replace)
{
<div class="col-xs-7 col-sm-9 nopadding">
    <span id="currentTransponderShortDescr_0" > @productTitle</span><detail @makePriceHidden>&nbsp; @transponderPrice </detail><br />
    <p id="currentTransponderLongDescr_0" style="white-space: normal;">
        @Model.Transponder.LongDescription
    </p>
    <p id="currentTransponderType_0" hidden>
        @Model.Transponder.TransponderType
    </p>
</div>
}
else
{
    <div class="col-xs-7 col-sm-9 nopadding">
        <span id="validateTransponder_0" style="display:none">false</span>
        <span id="currentTransponderShortDescr_0"> @productTitle</span><detail @makePriceHidden>&nbsp; @transponderPrice</detail><br />
        <p id="currentTransponderLongDescr_0" style="white-space: normal;">
            @Model.Transponder.LongDescription
        </p>
        <p id="currentTransponderType_0" hidden>
            @Model.Transponder.TransponderType
        </p>
    </div>
}
<div class="transponderSelectionArea">
@if (Model.Transponder.AddNew)
{
    <div class="selectionHeader">
        @if (!Model.Transponder.Activate)
        {

        var transponderPurchaseId = "transponderPurchase_" + Model.Transponder.TransponderType;
        <div class="col-xs-9 col-xs-offset-3 col-sm-10 col-sm-offset-2 numbers-row" style="padding-bottom:15px!important">
            <input type="text" name=@transponderPurchaseId id=@transponderPurchaseId value="0" transponder-data-type=@Model.Transponder.TransponderType.ToString() transponder-data-price="@absoultePrice" style="width: 30px; margin-left: 5px;" disabled>
        </div>
        }
    </div>

        if (Model.Transponder.Activate && Model.Transponder.AddNew)
        {
        <div class="transponder-purchase-details col-md-offset-1 addActivateTransponder" transponder-data-type=@Model.Transponder.TransponderType.ToString() style="display:@vehicleDataDisplay">
            <div id="transponderPurchaseDetails_0_1" style="margin-top: 8px!important;">
                <div id="transponderPurchaseDetails_0_0_1">
                    <div class="col-sm-5 col-xs-10 nopadding">
                        <label class="col-md-12" for="VehicleData_TransponderNumber" id="transponderPurchasePlateLabel_0_1" style="padding-right:0px">License Plate:</label>
                        <div class="control-div col-md-12 col-xs-12 licensePlate" style="padding-bottom:7px">
                            <input type="text" id="transponderPurchasePlate_0_1" name="transponderPurchasePlate_0_1" transponder-data-price="{3}" transponder-data-target="{0}_{1}" autocorrect="off" class="form-control licensePlate" maxlength="10" size="10" placeholder="Enter License Plate" />
                        </div>
                    </div>
                    <div class="col-sm-5 col-xs-10 nopadding">
                        <label class="col-md-12" for="VehicleData_TransponderNumber" id="existingTransponderLabel" style="padding-right:0px">Plate State:</label>
                        <div class="control-div col-md-12 col-xs-12" style="padding-bottom:7px">
                            @if (Model.StateCodes != null)
                            {
                                @Html.DropDownList("transponderPurchasePlateState_0_1", Model.StateCodes, new { @id = "transponderPurchasePlateState_0_1", @name = "transponderPurchasePlateState_{0}_{1}", @class = "form-control textArea licenseStateDD", @placeholder = "Enter License State" })
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
        else
        {
        <div class="transponder-purchase-details col-md-offset-1" transponder-data-type=@Model.Transponder.TransponderType.ToString()>
            @* This is place holder to add Transponders dynamically *@
        </div>


        }
        }
    </div>
@*</div>*@