@model TRAILSWEB.ViewModels.TransponderActivationViewModel
@{
    var displayOption = string.Empty;
    if (Model.AccountTransponders != null)
    {
        displayOption = Model.CreateUserAccount == false ? "style=\"display: none;\"" : string.Empty;
    }
    else
    {
        displayOption = string.Empty;
    }

    if (!ViewData.ModelState.IsValid)
    {
        displayOption = string.Empty;
    }
}
<div class="panel panel-info" id="vehicleData" @Html.Raw(displayOption)>
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-car fa-lg ModuleIcons" aria-hidden="true"></span> Vehicle Information</h3>
    </div>
    <div class="panel-body" id="vehicleInfoForm">
        @if (ViewBag.EntryPoint != "GetEPASS")
        {
            <div class="alert alert-info">
                You will need to link your new E-PASS Transponder to the vehicle you will be driving.
            </div>
        }
        <div id="selectedTransponder" class="form-group" style="display: none;">
            <div class="col-sm-2">
                <img src="~/Content/transponders/images/UF sticker.jpg" class="img-responsive" style="margin-bottom: 6px;" alt="Selected Transponder" title="Selected Transponder" />
            </div>
            @*<div class="col-sm-1">&nbsp;</div>*@
            <div class="col-sm-10 form-group ">


                     <div class="checkbox activateTransponderCheckbox" style="display:inline;"> <label class="checkboxlabel" id="isExistingTransponderLabel"> <input id="isExistingTransponder" type="checkbox" class="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-width="72"> </label> </div> <div style="display:inline;" class="checkboxlabel activateTransponderCheckbox" id="isExistingTransponderDiv"> I don't have Transponder. </div>
                    @*<label class="control-label"> Do you have transponder? <div class="checkbox"> <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No"> </div> </label>*@
                    

                    <div class="row form-group" style="margin-top: 10px;" id="transponderNumberDiv" >
                        <label class="control-label col-sm-3" for="VehicleData_TransponderNumber" id="existingTransponderLabel">Transponder Number:</label>
                        <div class="col-sm-9" id="existingTransponderDiv">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.VehicleData.TransponderNumber, new { @class = "form-control", @type = "number", @maxLength = 13, @placeholder = "Enter Transponder Number" })
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-info help" aria-label="Help" data-toggle="modal" data-target="#transponderModal" title="Show me where to find this."><span class="glyphicon glyphicon-question-sign"></span></button>
                                </div>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                    
                    <div class="row form-group TransponderDiv" style="margin-top: 10px;" id="transponderNumberPlaceHolder">
                        <label  class="control-label col-sm-3" for="VehicleData_TransponderNumber" >&nbsp;</label>
                        <div class="col-sm-9" id="existingTransponderDiv">
                            <label class="control-label col-sm-3" for="VehicleData_TransponderNumber">&nbsp;</label>
                            <div class="help-block with-errors">&nbsp;</div>
                        </div>
                        <label id="transponderPriceLabel" class="col-sm-12">&nbsp;</label>
                    </div>
                </div>
        </div>
        <br />&nbsp;
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_LicensePlateNumber">License Plate:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.VehicleData.LicensePlateNumber, new { @class = "form-control", @maxLength = 10, @placeholder = "Enter License Plate Number" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_LicenseStateSelected">State of Registration:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.VehicleData.LicenseStateSelected, Model.VehicleData.LicenseState, new { @class = "form-control", @data_selected = "LicenseStateSelected" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_MakeSelected">Vehicle Make:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.VehicleData.MakeSelected, Model.VehicleData.Make, new { @class = "form-control" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_ModelSelected">Vehicle Model:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.VehicleData.ModelSelected, Model.VehicleData.Model, new { @class = "form-control" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_YearSelected">Year:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.VehicleData.YearSelected, Model.VehicleData.Year, new { @class = "form-control" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group required activateTransponder">
            <label class="control-label col-sm-2" for="VehicleData_ColorSelected">Color:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.VehicleData.ColorSelected, Model.VehicleData.Color, new { @class = "form-control" })
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <!--
    <div class="panel-footer">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="saveVehicle" class="btn btn-success pull-right">Next</button>
            </div>
        </div>
    </div>
    -->
</div> <!-- // Vehicle Information -->

<!-- Transponder Modal -->
<div id="transponderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Where to find your Transponder Number</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Your Transponder Number will be listed on either the Sticker Tag or Portable Transponder you purchased.</p>
                    <div class="col-xs-6">
                        <img src="~/Content/img/epass_mini_sticker_tag.png" />
                    </div>
                    <div class="col-xs-6">
                        <img src="~/Content/img/transponder2_small-v2.jpg" />
                    </div>
                </div>
            </div>
            <div class="modal-footer default">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- // Transponder Modal -->
