@{string appTitle = @System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"].ToString();}

@{
    ViewBag.Title = "Reset Password Success";
    ViewBag.Action = "ResetPassword";
    ViewBag.Controller = "Account";
}

@if (ViewBag.MaintenanceMessage != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.MaintenanceMessage)
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.ErrorMessage)
    </div>
}
@if (ViewBag.AlertMessage != null)
{
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.AlertMessage)
    </div>
}
@if (ViewBag.WarningMessage != null)
{
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(ViewBag.WarningMessage)
    </div>
}
<div class="container">
    <div class="alert alert-success">
        <p>
            Your password has been successfully changed. @Html.ActionLink("Click here to continue", "Index", "Home")
        </p>
    </div>
</div>