@using TRIPWEB.Models
@model TRIPWEB.Models.Confirmation

@{
    ViewBag.Title = "Confirmation";
}

    @Html.HiddenFor(m => m.AccountNumber)
    @Html.HiddenFor(m => m.TripId)
    @Html.HiddenFor(m => m.Status)

<div id="orderConfirmation" class="panel panel-info" style="box-shadow:none;">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-check-square"></i> Confirmation</h3>
    </div>
    <div class="panel-body">
        @if ((Model.Status == TripStatus.Other) || (Model.Status == TripStatus.Reserved))
        {
        <h5 style="font-size:18px;">Your Confirmation #: @Model.TripId</h5>
            if (Model.Status == TripStatus.Other)
            { <p>Thank you for your reservation. A confirmation email has been sent to @Model.EmailAddress.</p>
            }
            else{
                <p>Thank you for your reservation. Your reservation has been updated.</p>
            }
        }
        else if ((Model.Status == TripStatus.Started || Model.Status == TripStatus.Pending))
        {
            <p>Your trip information has been updated. A confirmation email has been sent to @Model.EmailAddress.</p>
        }
        else if ((Model.Status == TripStatus.Ended))
        {
            <p>Your trip information has been Ended. A confirmation email has been sent to @Model.EmailAddress.</p>
        }
        <button id="btnResendEmail" class="btn-resend">Resend E-mail</button>
        <div><p id="emailResendConfirmation"></p></div>
                <div class="contact-information">
<p>If you have any questions or concerns, pleae call: 1800-353-7277 or (407) 823-7277</p>
            <div style="display:inline"><h4  style="display:inline;">Service Center:</h4> <p style="display:inline;">8919 West Colonial Drive, Ocoee, FL 34761</p></div>
            <h4>Hours of Operation:</h4>
            <ul class="hours">
                <li>Mon-Fri: 8AM - 6PM</li>
                <li>Sat: 9AM - 1PM</li>
                <li>Sun: Closed</li>
            </ul>
        </div>

    </div>
</div>

<script>
    var personalTermsCheckbox = false;

    $(function () {
        $(document).ready(function () {
            $('#btnResendEmail').click(function (e) {
                debugger;
                var tripIdOrAccount = $("#AccountNumber").val() == "0" ? $("#TripId").val() : $("#AccountNumber").val();
                var status = $("#Status").val();
                resendEmail(e, tripIdOrAccount, status );
            });

        });
    });


</script>

<script type="text/javascript" src="~/Scripts/controllers/reservationController.js"></script>
