@* Reusable Account Summary Data Panel *@
@model List<TRIPWEB.Models.TransactionHistory>

<div id="tollTransaction" class="panel panel-info">

    <div class="container AutoWidth">
        <h5>Financial Transactions</h5>
    </div>

    <div class="table-responsive">
        <table id="financialTransactionsTable" class="table table-striped transactionFootable" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="5" data-empty="No Transactions Found">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Location
                    </th>
                    <th data-breakpoints="xs">
                        Type
                    </th>
                    <th>
                        Amount
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (TRIPWEB.Models.TransactionHistory transaction in Model)
                {
                    <tr>
                        <td>
                           @transaction.TransactionDate.ToShortDateString() <span class="cfxTollTime">@transaction.TransactionDate.ToShortTimeString()</span>
                        </td>
                        <td>
                            @transaction.Location   
                        </td>
                        <td>
                            @transaction.TransactionType
                        </td>
                        <td>
                            @transaction.Amount.ToString("F")
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>



</div>

