@model TRAILSWEB.TRAILSWEBServiceReference.PaymentReceipt
@{
	ViewBag.Title = "";
	if (ViewBag.PaymentRequired == true)
	{
		ViewBag.Title = "Payment Confirmation";
		//ViewBag.Tagline = "Payment Confirmation";
	}
	else
	{
		ViewBag.Title = "Activation Confirmation";
		//ViewBag.Tagline = "Activation Confirmation";
	}
}

<div class="panel panel-info">
	<div class="panel-body">
		
			<h2>Thank you for your payment</h2>
			<p><strong>Payment Tracking Number: @Html.Raw(ViewBag.PaymentTrackingNumber)</strong></p>
			@if (!string.IsNullOrEmpty(ViewBag.EmailAddress))
			{
				<p>You will receive an email confirmation shortly at <label style="text-decoration: underline;">@Html.Raw(ViewBag.EmailAddress.ToLower())</label></p>
			}
			else
			{
				<p>Please print a copy of the receipt for your records.</p>
			}

			<a class="clickable" data-toggle="modal" data-target="#receiptModal"><span class="glyphicon glyphicon-print"></span> Print Receipt</a>
		
		<p>&nbsp;</p>
		@*<p>You have been logged out of your current session.</p>*@
		<p>Thank you for using E-PASS!</p>
		<br />

		@if (!ViewBag.IsNewAccount) //If NewAccount don't display continue button
		{
			<a href="../Manage"><button type="button" id="continueManageAccount" class="btn btn-primary" data-dismiss="modal">Continue to Manage Account</button></a>
		}
		<hr />
		<div class="row">
			<div class="col-sm-6" style="text-align: center;">
				<h3>Connect with Us:</h3>
				<a class="btn btn-lg btn-facebook" href="https://www.facebook.com/CFXWay" target="_blank"><span class="fa fa-facebook-square"></span></a>&nbsp;
				<a class="btn btn-lg btn-twitter" href="https://twitter.com/DriveEPASS" target="_blank"><span class="fa fa-twitter-square"></span></a>&nbsp;
				<a class="btn btn-lg btn-youtube" href="https://www.youtube.com/channel/UCdUJA1TL9ZEnNh0Rjjrr-jw" target="_blank"><span class="fa fa-youtube-square"></span></a>&nbsp;
				<a class="btn btn-lg btn-default" href="https://www.instagram.com/cfxway/" target="_blank"><span class="fa fa-instagram"></span></a>
			</div>
			<div class="col-sm-6">
				<h3>Contact Info:</h3>
				<p>Phone: 407-82-EPASS(3-7277)</p>
				<p>Email: <a href="mailto:E-PASS@CFXWay.com">E-PASS@CFXWay.com</a></p>
				<p>For commercial accounts contact: <a href="mailto:Fleetmanager@cfxway.com">Fleetmanager@cfxway.com</a></p>
			</div>
		</div>
	</div>
</div>

@if (ViewBag.PaymentRequired == true || ViewBag.ActivationOnly)
{
	<div id="receiptModal" class="modal fade" role="dialog" aria-labelledby="paymentReceipt">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="paymentReceipt">Payment Receipt</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid" id="receiptDetail">
						<div style="text-align: center;">
							<p>CENTRAL FLORIDA<br />EXPRESSWAY AUTHORITY<br />E-PASS SERVICE CENTER<br />ORLANDO, FL</p>
						</div>
						<div style="text-align:center">
							******************************
							<br>CUSTOMER RECEIPT
							<br>******************************
						</div>
						<br />
						<div class="row">
							<div class="col-sm-5"><label>E-PASS Account</label></div>
							<div class="col-sm-7" style="text-align: right">@Html.Raw(Model.AccountNumber)</div>
						</div>

                        <div class="row">
                            <div class="col-xs-5"><label>Payment Amount</label></div>
                            <div class="col-xs-7" style="text-align: right">@Html.Raw(String.Format("{0:C}", Model.PaymentAmount))</div>
                        </div>
                        @if (string.IsNullOrEmpty(Model.BankAccountNumber))
                        {
                        <div class="row">
                            <div class="col-xs-5"><label>Card Type</label></div>
                            <div class="col-xs-7" style="text-align: right">@Html.Raw(Model.CreditCardType)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><label>Card Number</label></div>
                            <div class="col-xs-7" style="text-align: right">@Html.Raw(Model.CreditCardNumber)</div>
                        </div>
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-5"><label>Bank Account</label></div>
                            <div class="col-xs-7" style="text-align: right">@Html.Raw(Model.BankAccountNumber)</div>
                        </div>
                        }

                        <div class="row">
                            <div class="col-xs-5"><label>Payment Tracking #</label></div>
                            <div class="col-xs-7" style="text-align: right">@Html.Raw(Model.JournalTransactionID)</div>
                        </div>

					</div>
				</div>
				<div class="modal-footer default">
					<button type="button" id="printReceipt" name="printReceipt" class="btn btn-primary"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
					<button type="button" id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
}

@section Scripts {



	@if (ViewBag.PaymentRequired || ViewBag.ActivationOnly)
	{
		<script type="text/javascript">
                $(function () {
                    $('#printReceipt').on('click', function () {
                        var win = null;
                        var content = $('#receiptDetail');

                        // Create new "Printer Friendly" Page
                        win = window.open("width=200,height=200");
                        self.focus();
                        win.document.open();
                        win.document.write('<' + 'html' + '><' + 'head' + '><' + 'style' + '>');
                        win.document.write('body, td { font-family: Verdana; font-size: 10pt; } pre { overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; background: #fff; }');
                        win.document.write('<' + '/' + 'style' + '><title>E-PASS&reg; Customer Receipt</title><' + '/' + 'head' + '><' + 'body' + '>');
                        win.document.write(content.html());
                        win.document.write('<' + '/' + 'body' + '><' + '/' + 'html' + '>');
                        win.document.close();

                        // Print Page
                        win.print();

                        // Close "Printer Friendly" Page
                        win.close();
                    });
                });
		</script>
	}
}


