@model TRAILSWEB.Models.Customer

@{
    ViewBag.Title = "Transponder Retail and In Lane Sales";
    ViewBag.Tagline = "Customer Information";
}

@section Styles {
    <link href="~/Scripts/vendor/bootstrap/plugins/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("CustomerInfo", "Sales", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "customerInfoForm" }))
{
    @Html.AntiForgeryToken()
    <div id="customerRegistrationForm" data-toggle="validator" class="form-horizontal" role="form">
        <div id="onboardingPart2" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Customer Account Information</h3>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary()
                </div>
            }
            <div class="panel-body">
                <div class="col-sm-offset-2 col-sm-10 alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;
                    Transponder Number: @Html.DisplayFor(m => m.TransponderNumber)
                    @Html.TextBoxFor(m => m.TransponderNumber, new { style = "display: none;" })
                </div>
                <div class="display-label">
                    @Html.TextBoxFor(m => m.AccountNumber, new { style = "display: none;" })
                </div>
                <div class="display-label">
                    @Html.TextBoxFor(m => m.PaymentID, new { style = "display: none;" })
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="FirstName">First Name:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @maxlength = "25", @placeholder = "Enter your First Name" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="LastName">Last Name:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @maxlength = "25", @placeholder = "Enter your Last Name" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="AddressLine1">Address Line 1:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", @maxlength = "30", @placeholder = "Enter Line 1 of your Street Address" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="AddressLine2">Address Line 2:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", @maxlength = "30", @placeholder = "Enter Line 2 of your Address (Foor, Suite, etc.)" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="City">City:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @maxlength = "20", @placeholder = "Enter your City" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="AddressStateSelected">State:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.AddressStateSelected, Model.AddressState, new { @class = "form-control" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="ZipCode">Zip Code:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @type = "number", @maxlength = "5", @placeholder = "Enter your 5 Digit Zip Code" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="PhoneNumber">Phone:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-medium bfh-phone", @type = "tel", @data_format = "ddd-ddd-dddd", @placeholder = "Enter your Phone Number" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-2" for="EmailAddress">Email:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @maxlength = "50", @type = "email", @placeholder = "Enter your Email Address" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="panel panel-default">
                            <!-- Driver License Information -->
                            <div class="panel-heading">
                                Driver's License
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    Please provide your Driver License information.
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-2" for="driverLicenseNumber">Driver License:</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.DriversLicense, new { @class = "form-control", @placeholder = "Enter your Driver License Number" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="DriversLicenseStateSelected">State Issued:</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(m => m.DriversLicenseStateSelected, Model.DriversLicenseState, new { @class = "form-control" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- // Driver License Information -->
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" value="Save" id="saveCustomer" name="saveCustomer" class="btn btn-success pull-right">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
<script src="~/Scripts/vendor/bootstrap/plugins/bootstrap-formhelpers.min.js"></script>
<script src="~/Scripts/controllers/sales/customerController.js"></script>
}
