@model  TRAILSWEB.Models.Transponder
@{
    ViewBag.Title = (ViewBag.EntryPoint == TRAILSWEB.Models.ActivityTypes.GetEPASS) ? "Purchase" : "Transponder Activation";
    ViewBag.Tagline = "";
}

<ul class="breadcrumb">
    <li><a href="~/"><span class="fa fa-home" style="font-size: 18px;"></span>&nbsp;Home</a></li>
    @if (ViewBag.EntryPoint == TRAILSWEB.Models.ActivityTypes.GetEPASS)
    {
        <li><a href="~/GetEPASS">Get E-PASS</a></li>
    }
    <li class="active">Product Detail</li>
</ul>

@Html.Partial("_MaintenanceMessages", new TRAILSWEB.Models.MaintenanceMessages())

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">E-PASS Product Detail</h3>
        </div>
        <div class="panel-body">
            @{
                var imagePath = (string.IsNullOrEmpty(Model.ImagePath)) ? string.Format("transponder-{0}.png", Model.TransponderType.ToString()) : Model.ImagePath;
                imagePath = (Model.TransponderType == 0) ? Model.ImagePath : imagePath;
                var transponderDataPath = (!string.IsNullOrEmpty(ViewBag.TransponderDataPath)) ? ViewBag.TransponderDataPath : "/Content/transponders";
                var productTitle = Model.ShortDescription.ToUpper() == "MINI" ? "Sticker" : Model.ShortDescription;
            }
            <input type="hidden" id="transponderType" name="transponderType" value="@Model.TransponderType" />
            <input type="hidden" id="transponderPrice" name="transponderPrice" value="@Model.Price" />
            <div class="col-md-6 col-sm-12" style="text-align: center;">
                <img src="@transponderDataPath/images/@imagePath" class="img-responsive" alt="@productTitle" title="@productTitle" />
            </div>

            @{var transponderPrice = (Model.Price == 0) ? "FREE" : String.Format("{0:C}", Model.Price);}

            <div id="productDetail" class="col-md-6 col-sm-12">
                <h4>@productTitle</h4>
                <p>@Html.Raw(Model.Description)</p>
                @if ((Model.TransponderType != 0) && (Model.TransponderType != 1))
                {
                  var tax = (Model.Price == 0) ? " " : " + tax ";
                  
                  <p><strong>Price:</strong> &nbsp; @transponderPrice @tax</p> 
                }
               
                <p class="product-notes">@Html.Raw(Model.Message)</p>
                
                <p class="product-notes">Any questions, please contact the E&#8209;PASS&reg; Service Center at 1&#8209;800&#8209;35-EPASS (1&#8209;800&#8209;353&#8209;7277), Monday&#8209;Friday, 8am&#8209;6pm.</p>
               
               
            </div>
        </div>
        <div class="panel-footer">
@if (Model.TransponderType != 0)
{
            <button id="addToNewAccount" type="button" class="btn btn-success" title="Create a New Account"><span class="fa fa-user-plus"></span> New Account</button>
            <button id="addToExistingAccount" type="button" class="btn btn-primary" data-url="/Sales/UserLoginModal" data-target="#existingUserConfirmation" title="Add to an Existing Account"><span class="fa fa-sign-in" aria-hidden="true"></span> Existing Account</button>
}
else
{
    <a class="btn btn-primary" href="~/GetEPASS"><span class="fa fa-arrow-left" aria-hidden="true"></span> Products</a>
    @*<button id="backButtonToProduct" type="button" class="btn btn-primary" title="Back to Prduct Page" onclick="goBack()"><span class="fa fa-arrow-left" aria-hidden="true"></span> Products</button>*@
}        </div>
    </div>
</div>

<!-- Existing User Confirmation Modal -->
<div id="existingUserConfirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header info default">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">E-PASS Customer Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p><strong>Q: How do I know if I have an E-PASS?</strong></p>
                    <p><strong>A:</strong>&nbsp;E-PASS is <span style="text-decoration: underline;">only</span> available online, by phone or at one of our walk&#8209;in service centers in Orlando. If you purchased your portable toll transponder or toll sticker at a retail store, like Publix, then it's a SunPass. Both E-PASS and SunPass work on all toll roads in FL, GA and NC. E-PASS products offer discounts on toll roads in Central Florida.</p>
                    <p><strong>Confirm if you are an E-PASS customer:</strong> YES (click) NO (click)</p>
                </div>
            </div>
            <div class="modal-footer default">
                <button type="button" id="EPASSConfirmButton" class="btn btn-primary" data-url="/Sales/UserLoginModal" data-dismiss="modal">Yes</button>
                <button type="button" id="otherAgencyConfirmButton" class="btn btn-success" data-dismiss="modal">No</button>
                <button type="button" id="cancelConfirmationButton" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- // Existing User Confirmation Modal -->

@section Scripts {
    <script>
        // Call initiatePublicKey to get a public key for Encryption Modules
        //InitiatePublicKey();
        publicKey = CryptoJS.enc.Utf8.parse('@ViewBag.PublicKey');
    </script>
    <script src="~/Scripts/controllers/account/accountController.js"></script>
    <script src="~/Scripts/controllers/account/modalController.js"></script>
    <script src="~/Scripts/controllers/sales/getEPASSController.js"></script>
    <script type="text/javascript">
        $(function () {
            // Execute Page Initializers 
            getEPASSController.SetEntryPoint('@ViewBag.EntryPoint');
        });
    </script>
}